<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="nav-wrapper">
      <nav>
        <h1>Hello.com</h1>
        <div class="nav-links">
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
        </div>
      </nav>
    </div>
    <div class="home-wrap">
      <input type="text" id="saveTitle" placeholder="Untitled Document" />
      <button id="savebtn">SAVE</button>
    </div>

    <section>
      <iframe id="pdf-preview" src="" frameborder="0"></iframe>
    </section>
    <script src="js/app.js" type="module"></script>
  </body>
</html>
