<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="nav-wrapper">
        <nav class="navbar">
          <div class="nav-links">
            <a href="/"><span>POSTERED</span></a>
            <a href="/shop">posters</a>
            <a href="/about">about</a>
          </div>
        </nav>
      </div>
      <div class="content">
        <h1>Postered - Custom Posters & Digital Prints!</h1>
        <p>Explore our collection of unique prints and posters for art lovers, businesses, and everyday life. Whether you're looking for poster, print, or frame, we have something for you!</p>
        <h1>Need an Invoice? We've Got You Covered!</h1>
        <p>For business customers and professionals, our store offers automatic invoice generation for every purchase. Simply add your items to the cart, check out, and download your PDF invoice instantly. Perfect for expense tracking, tax deductions, and corporate purchases!</p>
        <button><a href="/shop">Browse, Buy & Download Instantly</a></button>
      </div>
    

    <script src="js/app.js" type="module"></script>
  </body>
</html>
