<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Megan's Page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="megan.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="nav-wrapper">
        <nav class="navbar">
          <div class="nav-links">
            <a href="index.html">Home</a>
            <a href="megan.html">Invoice Generation</a>
            <a href="#">Course Completion Certificate</a>
            <a href="#">Event Ticket</a>
            <a href="jonathan.html">Restaurant Menu Receipt</a>
          </div>
        </nav>
      </div>
      <section class="hero">
        <div class="hero-content">
          <h1>
            Invoice Generator
            <i class="fa-solid fa-file-invoice"></i>
          </h1>

          <p>
            Generate and download an invoice with a list of purchased items,
            including product names, prices, quantities, and a grand total.
          </p>
        </div>
      </section>
      <div id="products">
        <h3>Products</h3>
        <ul>
          <li>
            <h3>Small Cloud Lamp - $15</h3>
            <div class="scl"></div>
            <button
              class="add-to-cart"
              data-name="Small Cloud Lamp"
              data-price="35"
            >
              Add to Cart🛒
            </button>
          </li>
          <li>
            <h3>Medium Cloud Lamp - $30</h3>
            <div class="mcl"></div>
            <button
              class="add-to-cart"
              data-name="Medium Cloud Lamp (RGB)"
              data-price="60"
            >
              Add to Cart🛒
            </button>
          </li>
          <li>
            <h3>Large Cloud Lamp - $80</h3>
            <div class="lcl"></div>
            <button
              class="add-to-cart"
              data-name="Large Lightning Cloud Lamp"
              data-price="90"
            >
              Add tto Cart 🛒
            </button>
          </li>
        </ul>
      </div>
      <div id="cart">
        <h2>Your Cart</h2>
        <table id="cart-items" class="cart-items">
          <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Line Total</th>
          </tr>
        </table>
        <button id="view-invoice" class="btn">View Invoice</button>
        <button id="download-invoice" class="btn">Download Invoice</button>
      </div>
      <section>
        <iframe id="pdf-preview" src="" frameborder="0"></iframe>
      </section>
    </div>

    <footer class="footer">
      <p>© 2025 MyWebsite. All rights reserved.</p>
    </footer>
    <script src="megan.js" type="module"></script>
  </body>
</html>
